.main{
    background-color: #FFF;
    font-size: large;
    display: flex;
    flex-direction: row;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.brand{
    margin-left: 20px;
    font-size: 2rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

.signoutBtn{
    float: right;
    margin-right: 10px;
    margin-left: auto;
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size-adjust: inherit;
    font-weight: 400;
    font-size: 1rem;
    background-color: aqua;
    border: 1px solid #000;
}

.signoutBtn:hover {
    cursor: pointer;
}